@media (max-width: 699px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 700px) and (max-width: 1299px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 26px;
  }

html {
    width: 100%; 
    height: 100%;
    text-align: center;
    background-color: #fff;
    color: #EF4836;
}
                       
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;

}

body .container-fluid:nth-child(2) {
    padding-right:0px;
    padding-left:0px;
    padding-top: 50px;
}

.navbar {
    background: #fff;
    font-family: 'Roboto Slab', serif;
}

.navbar-default .navbar-brand {
    color: #EF4836;
    font-size: 20px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #EF4836;
}

.navbar-default .navbar-form .navbar-right {
    color: #EF4836;
    float: right;
}

.navbar-default .navbar-form .navbar-right:hover {
    color: #ec643c;
}

#ods-search {
    padding-top: 12px;
    padding-right: 20px;

}

#ods-search .searchbox {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid #EF4836;

}

#ods-search button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 10px; 
    margin-left: 10px;
    border-radius: 10px;
    border: 0px;
    background: #EF4836;
}

#ods-search button, textarea {
    color: white;
}

#ods-search input {
    text-align: center;
}
/* Hides Angular Magic in Tooltip */

.ng-cloak { 
   display: none; 
}
